<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="VidDevice" value="OBS Virtual Camera" />
        <add key="LvlViewEndless" value="True" />
        <add key="LvlViewReport" value="False" />
        <add key="LogAll" value="True" />
        <add key="LogLocation" value="" />
        <add key="CodeSettings" value="False" />
        <add key="NameSettings" value="False" />
        <add key="CreatorSettings" value="True" />
        <add key="TimeSettings" value="False" />
        <add key="XPosCode" value="255" />
        <add key="YPosCode" value="445" />
        <add key="XPosName" value="255" />
        <add key="YPosName" value="467" />
        <add key="FSizeName" value="30" />
        <add key="FSizeCode" value="23" />
        <add key="FontCode" value="Super Mario Maker 2" />
        <add key="FontName" value="Super Mario Maker 2" />
        <add key="FontCreator" value="Super Mario Maker 2" />
        <add key="FontTime" value="Arial Black" />
        <add key="OverlaySelection" value="Custom" />
        <add key="Default1Entry" value="Top" />
        <add key="Default2Entry" value="Right" />
        <add key="WinWidth" value="893" />
        <add key="WinHeight" value="730" />
        <add key="PlayerVisible" value="True" />
        <add key="XPosCreator" value="435" />
        <add key="YPosCreator" value="445" />
        <add key="FSizeCreator" value="23" />
        <add key="XPosTime" value="30" />
        <add key="YPosTime" value="175" />
        <add key="FSizeTime" value="18" />
        <add key="ColorCode" value="#e6e6e6" />
        <add key="XPosDeath" value="50" />
        <add key="YPosDeath" value="210" />
        <add key="FSizeDeath" value="40" />
        <add key="DeathSettings" value="False" />
        <add key="FontDeath" value="Arial Black" />
        <add key="ColorDeath" value="#FFFFFF" />
        <add key="ColorName" value="#FFFFFF" />
    </appSettings>
</configuration>